

.flex-container {

   background-color: #fca170;
   padding: .5em 0;
}

.flex-item {
   width: 30px;
   height: 30px;
   margin: .5em;
   line-height: 30px;
   color: aliceblue;
   text-align: center;
   background-color: #9a3488;

}