.table {

    table-layout: fixed;
    width: 100%;
    text-align: center;
}

/* .table {
    caption-side: top;
} */

/* .table {
    caption-side: bottom;
} */


/* .table {
    caption-side:unset;
} */

.table, .table__data, .table__head {
    border: 1px solid black;
    border-spacing: 20px;

}

/* .table {

    border-collapse: separate;
} */

.table {
    width: 100%;
    /* border-collapse: collapse; */
    empty-cells: hide;

}

.table__data {
    background-color: lightblue;
}

/* .table__data {
    border: 1px solid black;
}    */

.table_container {

    overflow-x: auto;
}
